
<% type =  type.presence || 'default' %>
<a href="<%= action %>" data-type="<%= type %>" class="bg-blue-600 p-2 rounded shadow text-white
  data-[type=outline]:bg-transparent data-[type=outline]:text-blue-600 data-[type=outline]:border data-[type=outline]:border-blue-600
">
  <%= inner_text %>
</a>